<div class="banner">
  <div class="container">
    <h1>Cocktails 4 you</h1>
    <p>Let’s find the best cocktail based on your preferences</p>
  </div>
</div>

<div class="container">
  <div class="cards">
  <ul>
  <% @cocktails.each do |cocktail| %>
  <div class="card">
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  </div>
    <% end %>
  </ul>
  </div>
</div> 
